*{
	margin:0;
	padding:0;
}

body{
	background:url("images/bgimage.jpg") no-repeat fixed;	
	background-size: 100% 100%;
}

.carousel-inner > .item > img{

	width: 100%;
	
}

.container{
	padding-top: 2%;
	margin: 3%;
}

 .panel .thumbnail a img{
	min-height:180px;
	max-height:180px;
}
.well{
	background: black;
	padding:5%;
	color: white;
	text-align: center;

}

.infor{
	margin-top: 3.5%;
}

.artHot{
	padding: 1%;
}

legend{
	background: rgba(255,255,255,.7);
}

.panel{
	background: transparent;
	border: 0px;
}

.panel-body{
	padding: 1%;
}

.media-left img{
	width: 120px;
	height: 120px;
	border-radius: 50%;
	padding: 1%;
	border: 1px solid gray;
}

.artHot .media,.message .media{
	padding: 2%;
	background: rgba(255,255,255,.7);
	border-radius: 2%;
	box-shadow: 0 1px 2px 0 #E2E2E2;

}

.artHot .panel-body {
    background: rgba(255,255,255,.7);
    padding: 2%;
}

.video .media{
	padding: 1.5%;
	margin: 0;
	background: rgba(255,255,255,.7);
}

legend{
	padding: 2%;
	padding-left: 3%;
	border:1px solid #E7EAF1;
}

.artHot legend{
	border-left: 4px solid #F92672;
	padding: 1%;
	padding-left: 2%;
}
.infor legend{
	border-left: 4px solid #0088CC;
}

.artNew legend{
	border-left: 4px solid #F5CE6F;
}

.message legend{
	border-left: 4px solid #AE81FF;
}

.picture legend{
	border-left: 4px solid #EA2000;
}

.video legend{
	border-left: 4px solid #4C8CF5;
}

.video legend,.picture legend{
	padding: 1%;
	padding-left: 2%;
}

.infor .panel-body{
	background: rgba(255,255,255,.7);
	box-shadow: 0 1px 2px 0 #E2E2E2;
}

.infor img{
	border: 1px solid grey;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	position: relative;
	left: 25%;
}

.artNew .panel-body{
	background: rgba(255,255,255,.7);
	padding: 2%;
}


