body{
	background:url("images/bgimage4.jpg") no-repeat fixed;	
	background-size: 100% 100%;
}

.container{
	padding: 1%;
	margin: 8% auto 3%;
	background: white;
	border: 2px solid #e8e8e8;
}
.nav-tabs li{
	background: white;

}
.nav-tabs a,h2{
	color: #428BFF;
	font-size: 16px;
	font-weight:bold;
}
.tab-content{
	background: white;
}
.tab-pane{
	padding:2%;
}
.row-left{
	height:100%;
	padding:3%;
}


.well{
	background: black;
	padding:5%;
	color: white;
	text-align: center;
	margin:0;
}

.table-responsive{
	margin-top: 1%;
}

.embed-responsive{
	border: 1px solid #e8e8e8;
}

.add{
	border: 2px solid #e8e8e8;
}

.table th{
	text-align: center;
}

.title{
	width: 30%;
}

.comment {
	width: 75%;
}

.picture{
	width: 17%;
}

.message{
	width: 70%;
}

.table a{
	font-size: 18px;
}

.videoTitle{
	width: 70%;
}

.time{
	width: 20%;
	text-align: center;
}

.picList{
	margin-bottom: 40px;
	text-align: center;
}

.list-group  img{
	width: 100%;
	padding: 1%;
	border: 1px solid gray;
}

.inputTitle{
	height: 54px;
	line-height: 2;
}

.commentList tr{
	height: 10px;
	overflow: hidden;
}

.container-fluid{
	padding: 1%;
	margin: 8% 3% 3%;
	background: white;
	border: 2px solid #e8e8e8;

}
